* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f5f8;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #fff;
    padding: 1em 0;
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.logo {
    width: 100px; /* Adjust the width to your desired size */
    height: max-content;
    object-fit: contain;
  }

.links-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
}

.links-nav ul li {
    margin-left: 1.25rem;
}

.links-nav ul li a {
    color: #333;
    text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 2em 10% 0.8em 10%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: 100%;
}

.main-content {
  margin: auto;
}


.hero {
    background-color: #f9f9f9;
    padding: 1em;
    text-align: center;
}

.hero h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.hero p {
    font-size: 1.25em;
    color: #666;
}

.sort-bar {
    margin: 0.5em 0;
    text-align: right;
}

.table-wrapper {
    max-height: 20em; /* Adjust the height as needed */
    overflow-y: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.1);
    overflow: auto;
}

thead {
    position: sticky;
    top: 0;
    background-color: #fff;
}

th,
td {
    padding: 0.75em;
    text-align: right;
    border-bottom: 0.0625em solid #e1e5eb;
}

th {
    font-weight: bold;
}

footer {
    direction: ltr;
    background-color: #fff;
    color: #888;
    text-align: center;
    padding: 0.5em 0;
    box-shadow: 0 -0.2em 0.4em rgba(0, 0, 0, 0.1);
    /* margin-top: auto; */
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
}

.popup-content {
    background-color: #fff;
    padding: 2.5em;
    border-radius: 0.375em;
    max-width: 25em;
    width: 90%;
    text-align: center;
    position: relative;
}

.popup-content h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.popup-content form {
    display: flex;
    flex-direction: column;
}

.popup-content form input {
    margin-bottom: 0.5em;
    padding: 0.625em;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
}

.popup-content form button {
    padding: 0.625em 1.25em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

.popup-content form button:hover {
    background-color: #555;
}

.close-popup {
    position: absolute;
    top: 0.625em;
    right: 0.625em;
    color: #888;
    text-decoration: none;
    font-size: 1.25em;
    z-index: 1;
}

.subscribe-section {
    background-color: #f9f9f9;
    padding: 0.8em;
    /* margin-top: 0.5em; */
    border-radius: 0.375em;
    text-align: center;
}

.subscribe-section h2 {
    font-size: 1.5em;
    /* margin-bottom: 0.5em; */
    color: #333;
}

#subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 0.5em; */
}

#subscribe-form input[type="email"] {
    padding: 0.75em;
    border: none;
    border-radius: 0.25em;
    width: 18.75em;
    margin-right: 0.625em;
}

#subscribe-form button {
    padding: 0.75em 1.5em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#subscribe-form button:hover {
    background-color: #555;
}

.sort-bar label {
    color: #333;
    margin-right: 0.625em;
}

#sort-select {
    padding: 0.625em;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
}

.add-review-section {
    text-align: center;
    margin-top: 1.5em;
}

.add-review-section h2 {
    font-size: 1.5em;
    color: #333;
}

#add-review-btn {
    /* margin-top: 0.5em; */
    padding: 0.75em 1.5em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-review-btn:hover {
    background-color: #555;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 0.1875rem;
    background-color: #333;
    transition: transform 0.3s ease;
}

.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(0.125rem, 0.125rem);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(0.125rem, -0.125rem);
}

/* Media Queries */

@media (max-width: 523px) {
    header {
        padding: 0.625em 0;
    }

    .logo {
        width: 4rem;
    }

    nav {
        padding: 0 5%;
    }

    main {
        padding: 1.25em 5%;
    }

    .hero {
        padding: 2.5em;
    }

    .hero h1 {
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    .hero p {
        font-size: 1em;
    }

    .sort-bar {
        margin-bottom: 1em;
    }

    .table-wrapper {
        max-height: 16em; /* Adjust the height as needed */
    }

    table {
        font-size: 0.875em;
    }

    th,
    td {
        padding: 0.625em;
    }

    .popup-content {
        padding: 2em;
        max-width: 25em;
    }

    .popup-content h2 {
        font-size: 1.25em;
        margin-bottom: 1em;
    }

    .popup-content form input {
        margin-bottom: 0.5em;
        padding: 0.5em;
    }

    .popup-content form button {
        padding: 0.5em 1em;
        font-size: 0.875em;
    }

    .close-popup {
        top: 0.5em;
        right: 0.5em;
        font-size: 1em;
    }

    .subscribe-section {
        padding: 1em;
    }

    .subscribe-section h2 {
        font-size: 1.25em;
        margin-bottom: 0.5em;
    }

    #subscribe-form input[type="email"] {
        padding: 0.625em;
        width: 15em;
        margin-right: 0.5em;
    }

    #subscribe-form button {
        padding: 0.625em 1.25em;
        font-size: 0.875em;
    }

    .sort-bar label {
        margin-right: 0.5em;
    }

    #sort-select {
        padding: 0.5em;
    }

    .add-review-section h2 {
        font-size: 1.25em;
        margin-bottom: 0.5em;
    }

    #add-review-btn {
        padding: 0.625em 1.25em;
        font-size: 0.875em;
    }

    .logo {
        width: 4rem;
    }

    .menu-icon {
        display: block;
    }

    .links-nav ul {
        display: none;
    }

    .logo {
        width: 4rem;
    }

    .links-nav ul {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .links-nav ul.active {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        padding: 1rem;
        box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.1);
    }

    .links-nav ul.active li {
        margin-left: 0;
        margin-bottom: 1rem;
    }
    
}

@media (max-width: 457px) {
    header {
        padding: 0.625em 0;
    }

    .logo {
        width: 3.5rem;
    }

    nav {
        padding: 0 3%;
    }

    main {
        padding: 1em 3%;
    }

    .hero {
        padding: 2em;
    }

    .hero h1 {
        font-size: 1.25em;
        /* margin-bottom: 0.75em; */
    }

    .hero p {
        font-size: 0.875em;
    }

    .table-wrapper {
        max-height: 14em; /* Adjust the height as needed */
    }

    table {
        font-size: 0.75em;
    }

    th,
    td {
        padding: 0.5em;
    }

    .popup-content {
        padding: 1.5em;
        max-width: 20em;
    }

    .popup-content h2 {
        font-size: 1.125em;
        /* margin-bottom: 0.75em; */
    }

    .popup-content form input {
        /* margin-bottom: 0.375em; */
        padding: 0.375em;
    }

    .popup-content form button {
        padding: 0.375em 0.75em;
        font-size: 0.75em;
    }

    .close-popup {
        top: 0.375em;
        right: 0.375em;
        font-size: 0.875em;
    }

    .subscribe-section {
        padding: 0.75em;
    }

    .subscribe-section h2 {
        font-size: 1.125em;
        /* margin-bottom: 0.375em; */
    }

    #subscribe-form input[type="email"] {
        padding: 0.5em;
        width: 12em;
        /* margin-right: 0.375em; */
    }

    #subscribe-form button {
        padding: 0.5em 1em;
        font-size: 0.75em;
    }

    .sort-bar label {
        margin-right: 0.375em;
    }

    #sort-select {
        padding: 0.375em;
    }

    .add-review-section h2 {
        font-size: 1.125em;
        /* margin-bottom: 0.375em; */
    }

    #add-review-btn {
        padding: 0.5em 1em;
        font-size: 0.75em;
    }
}